.permit {
    display:none;
}
html {
}
body {
}
a {
}
.jumbotron {
    background:#240A22;
    color:#fff;
}


@media screen and (-webkit-min-device-pixel-ratio: 0) {
/* Prevents zooming into form elements on mobile*/
select:focus, textarea:focus, input:focus {
        font-size: 16px;
    }
}

/* Portrait phones */
@media (max-width: 320px) {


/* Landscape phones and down */
@media (max-width: 480px) {
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {


 }

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 940px) {  }

/* Default: 940px and up  */

/* Large desktop */
@media (min-width: 1210px) {  }










